<b:style src="./instance-view.css"/>
<b:isolate/>
<b:define name="hasLoc" from="loc" type="bool"/>

<div class="instance">
  <div>&lt;<span class="name_{hasLoc}" data-loc="{loc}">{name}</span><span b:show="{empty}">&gt;</span></div>
  <!--{childNodesHere}-->
  <div b:hide="{empty}">&gt;</div>
</div>
