<b:style src="./location.css"/>
<b:isolate/>
<b:define name="type" type="enum" values="instance class render"/>

<span class="wrapper {type}" b:show="{loc}">
  <span
    class="location"
    data-loc="{loc}">
    {loc}
  </span>
</span>
