<b:style src="./template_hintPopup.css"/>
<b:isolate/>
<b:define name="equalNames" type="bool"/>

<div class="popup">
  <div class="section">
    <div class="section__title">
      <span class="section__title-text">Component</span>
    </div>
    <div class="section__content">
      <span class="name">
        &lt;{name}&gt;
      </span>
      <span b:show="{instanceLocation}">
        <span class="source">
          Created at <span class="location">{instanceLocation}</span>
        </span>
        <span b:show="{openFileSupported}" class="ui-hint">
          Use alt + click to open place in editor
        </span>
      </span>
    </div>
  </div>
</div>
