<b:style src="./info-section.css"/>
<b:isolate/>

<div class="section"
  event-click="openRefLocation"
  event-mouseover="enterRefLocation"
  event-mouseout="leaveRefLocation">
  <div class="header">
    {name}
  </div>
  <div{childNodesElement|content} class="content">
  </div>
</div>
