.view
{
  white-space: pre;
  font-family: consolas, monaco, courier new, monospace;
  line-height: 1.6;
  padding: 6px 4px 8px;
}
.header
{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.classHasLoc,
.extendsHasLoc,
.renderHasLoc
{
  text-decoration: underline;
  cursor: pointer;
}
.classHasLoc:hover,
.extendsHasLoc:hover,
.renderHasLoc:hover
{
  color: #A00;
}
.class-content
{
  padding-left: 2ex;
  padding-left: 2ch;
}
.keyword
{
  color: #006699;
  font-weight: bold;
}
