.instance
{
  font-family: consolas, monaco, courier new, monospace;
  line-height: 1.2;
  padding: 6px 4px 8px;
}

.name_hasLoc
{
  text-decoration: underline;
  cursor: pointer;
}
.name_hasLoc:hover
{
  color: #A00;
}
