<b:style src="./sidebar.css"/>

<div class="sidebar">
  <span class="link log-link" event-click="logInfo" title="Output view in console save it as $component">console.log(info)</span>
  <!--{info}-->
</div>
