<b:isolate/>
<b:l10n src="./view.l10n"/>
<b:style src="./view.css"/>

<div class="view" event-mousedown="stop-propagation prevent-default" basis-devpanel-ignore>
  <div class="no-subject" b:hide="{hasSubject}">
    Component is not selected
  </div>
  <div class="content" b:show="{hasSubject}">
    <b:include src="./sidebar.tmpl" isolate/>
    <b:include src="./content.tmpl" isolate/>
  </div>
</div>
