<b:style src="./event-attribute.css"/>
<b:isolate/>

<b:include src="./attritube.tmpl">
  <b:attr name="event-click" value="openLoc"/>
  <b:attr name="event-mouseenter" value="enter"/>
  <b:attr name="event-mouseleave" value="leave"/>
</b:include>
