<b:style src="./panel.css"/>
<b:isolate/>
<b:define name="isOnline" type="bool"/>
<b:define name="inpageDisabled" from="inpageEnabled" type="invert"/>
<b:define name="templateActivated" from="inspectorId" type="enum" values="template"/>

<div class="panel panel_{isOnline}"
  basis-devpanel-ignore
  event-mousemove="storePosition">
  <div{dragElement} class="dd-trigger">&nbsp;</div>
  <div class="section">
    <div class="button button_template button_active-{templateActivated}" event-mousedown="inspectTemplate">&nbsp;</div>
    <div class="button button-{inpageDisabled}" event-click="toggleInpage">in page</div>
  </div>
  <div class="info-panels">
    <b:include src="./inspectMode.tmpl" isolate/>
  </div>
</div>
