<b:style src="./prop-view.css"/>
<b:isolate/>
<b:define name="type" type="enum" values="string function other"/>
<b:define name="hasValueLoc" from="valueLoc" type="bool"/>

<div class="prop">
  <span class="key">{key}=</span>
  <span class="valueWrapper valueWrapper_{type}">
    <span class="value value_{type} value_{hasValueLoc}" data-loc="{valueLoc}">
      {valueText}
    </span>
  </span>
</div>
